@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



:root {
    --bg-color: #f9f8eb;
    --box-color: #eae7e7;
    --text-color: #76b39d;
    --header-color: #155e63;
}


#body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 10px;
    font-family: source_sans_proregular, Arial;

    display: flex;
    flex-flow: column wrap;
}

#main {
     margin: 20px;
     display: flex;
     flex-flow: column wrap;
     min-height: 100%;
     align-items: center;
}

#header, #footer {
    display: flex;
    align-items: center;
}

#header {
    background-color: var(--header-color);
    padding: 10px;
    height: 10%;
}

#header a{
    color: white;
    text-decoration: none;
}

h2 {
     color: var(--header-color);
     text-align: center;
}

#footer {
    background-color: black;
    font-size: 1.2rem;
    color: white;
    height: 20%;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-flow: column wrap;
}

.block {
    display: block;
}

#footer-links {
    padding-top: 10px;
}

#footer #footer-links a {
    display: inline-block;

    color: white;
    margin: 10px;
}

#footer small{
    margin-bottom: 15px;
}

#search-form {
    color: black;
    border-radius: 8px;
    background-color: var(--box-color);
    padding: 35px;
    font-size: 1.3rem;
}

#select-base {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

#search-form #select-base {
    padding: 5px 10px 5px 0px;
}

#search-form .form-check {
    margin-bottom: 8px;

}

#search-form .btn {
    background-color: var(--header-color);
    border-color: var(--header-color);
    color: white;
}

#search-form h2{
    text-align: left;
    margin: 35px 0px 0px 0px;
    color: var(--header-color);
}

#search-form h2:first-child {
    margin-top: -10px;
}

#search-form small {
    color: var(--text-color);
}

#form-submit {
    margin-top: 25px;
}





.text-div {
    line-height: 35px;
    width: 65%;
    margin: 15px;
    padding: 5px;
    font-size: 1.4rem;
}

.text-div a{
    color: var(--header-color);
}


#home-btn {
    font-size: 1rem;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    border-radius: .25rem;
    padding: 6px 12px;

    text-decoration: none;
    background-color: var(--header-color);
}




@media (max-width: 650px) {
    .text-div {
        font-size: 1.2rem;
        width: 90%;
    }

    #graph-box > div svg{
        width: 100%;
    }
    #main, #graph-box{
        width: 95%;
        margin: auto;

    }

}

#main #graph-box {
    font-family: inherit;
}

#graph-box g {
    color: #eae7e7;
}

#graph-box {
    margin-top: 10px;
}