{% extends "base.html" %}

{% block title %}
    Currency Analysis
{% endblock%}

{% block content %}
    <div class="text-div">
        <p>
            <b>Please note that this is a class project, and it should not be taken seriously.<br>
            for more information check our <a href="{{ url_for('disclaimer') }}">disclaimer</a>.</b>
        </p>
        <p>
            Welcome to Currency Analysis, an online, currency exchange rate graph.
            Here you can easily see and compare the history of different world currencies.<br>
            Our information is retrieved from the
            <a href="https://www.ecb.europa.eu/home/html/index.en.html" target="_blank">
            European Central Bank</a> data-base.<br>
            To start, choose the currencies you would like to compare, then hit the <b>Analyze</b> button.
        </p>
        </p>
            <b>Tip:</b> If you would like to get more specific, chose only one currency to compare with.
        <p>
    </div>

    <form id="search-form" action="/search" method="POST">

        <h2>Select a base currency:</h2>
        <div id="form-group" >
          <label class="label">

              <select id="base-currency" name="base-currency" class="form-control">
                <option value="USD">US dollar (USD)</option>
                <option value="EUR">Euro (EUR)</option>
                <option value="JPY">Japanese yen (JPY)</option>
                <option value="GBP">Pound sterling (GBP)</option>
                <option value="AUD">Australian dollar (AUD)</option>
                <option value="CAD">Canadian dollar (CAD)</option>
                <option value="CHF">Swiss franc (CHF)</option>
                <option value="ILS">Israeli shekel (ILS)</option>
              </select>

          </label>
        </div>

        <h2>Select currencies to compare:</h2>
        <small>(Select one to three currencies)</small>
        <div id="select-currencies">
            <div class="form-check">
              <input type="checkbox" value="USD" name="secondary-currency" id="USD" class="form-check-input">
              <label class="label form-check-label" for="USD" > US dollar (USD)</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="EUR" name="secondary-currency" id="EUR" class="form-check-input">
              <label class="label form-check-label" for="EUR"> Euro (EUR)</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="JPY" name="secondary-currency" id="JPY" class="form-check-input">
              <label class="label form-check-label" for="JPY"> Japanese yen (JPY)</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="GBP" name="secondary-currency" id="GBP" class="form-check-input">
              <label class="label form-check-label" for="GBP"> Pound sterling (GBP)</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="AUD" name="secondary-currency" id="AUD" class="form-check-input">
              <label class="label form-check-label" for="AUD"> Australian dollar (AUD)</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="CAD" name="secondary-currency" id="CAD" class="form-check-input">
              <label class="label form-check-label" for="CAD"> Canadian dollar (CAD)</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="CHF" name="secondary-currency" id="CHF" class="form-check-input">
              <label class="label form-check-label" for="CHF"> Swiss franc (CHF)</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="ILS" name="secondary-currency" id="ILS" class="form-check-input">
              <label class="label form-check-label" for="ILS"> Israeli shekel (ILS)</label>
            </div>

        </div>

        <h2>Select a time frame</h2>
        <div id="select-time-frame">
            <label class="label">
                <input type="radio" name="time-frame" value="Last week" checked> Last week
            </label>
            <label class="label">
                <input type="radio" name="time-frame" value="Last month"> Last month
            </label>
            <label class="label">
                <input type="radio" name="time-frame" value="Last 3 month"> Last 3 month
            </label>
            <label class="label">
                <input type="radio" name="time-frame" value="Last 6 month"> Last 6 month
            </label>
        </div>

        <div id="form-submit">
            <button type="submit" class="btn">Analyze!</button>
        </div>


    </form>

{% endblock%}
