{% extends "base.j2" %}



{% block title %}Currency Analysis - {{ base }}{% endblock title%}


{% block content %}

    <h2>Analyze {{ base }}</h2>

    <a href="{{ url_for('home_page') }}" id="home-btn">Home</a>

    <div class="text-div">
        <p>
            In this page you can <b>interactively</b> compare <em>{{ base }}</em>
            to <em>{{ currencies|join(', ') }}</em>.<br>
            The graph describes the changes of <em>{{ currencies|join(', ') }}</em>
            comparing to <em>{{ base }}</em> over the axis of time ({{ time }}).<br>
            In other words, how much <em>{{ base }}s</em> you can get for 1 {{ currencies|join(', or ') }}.
        </p>
        <p>
            On the bottom left corner of the graph, you will find a tool-bar
            that will help you to navigate the graph.
        </p>
    </div>

    <h2>{{ base }} compared to {{ currencies|join(', ') }}</h2>
    <div id="graph-box"></div>

    <script>
      {{plot|safe}}
    </script>

{% endblock content%}


