{% extends "base.html" %}



{% block title %}Currency Analysis - {{ base }}{% endblock title%}


{% block content %}

    <h2>Analyze {{ base }}</h2>

    <a href="/" id="home-btn">Home</a>

    <div class="text-div">
        <p>
            In this page you can <b>interactively</b> compare <em>{{ base }}</em>
            to <em>{{ currencies|join(' ') }}</em>.<br>
            The graph describes the chances of <em>{{ currencies|join(' ') }}</em>
            comparing to <em>{{ base }}</em> over the axis of time ({{ time }}).
            On the bottom left corner of the graph, you well find a tool-bar
            that will help you to easily navigate.
        </p>
    </div>

    <h2>{{ base }} comparing to {{ currencies|join(' ') }}</h2>
    <div id="graph-box"></div>

    <script>
      {{plot|safe}}
    </script>

{% endblock content%}


